* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(248, 246, 246);
  height: 300vw;
}
/* Navbar related css */

#links {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  box-shadow: 2px 2px 5px 5px rgb(235, 235, 235);
}

#links > div {
  display: flex;
  list-style: none;
}
#links a {
  text-decoration: none;
  color: teal;
  font-size: 30px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

th,
td {
  padding: 15px;
}

tr > th {
  background-color: teal;
  color: white;
}
tr:last-child td:first-child {
  text-align: right;
  color: green;
}
tr:last-child td:first-child button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  /* left: 30%; */
  background-color: rgba(10, 207, 187, 0.995);
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgba(10, 207, 187, 0.995);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

tr:last-child td:first-child button:hover {
  background-color: rgba(255, 0, 0, 1);
}

tr:last-child td:first-child button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
